@import url(./fonts.css);

.courses {
  max-width: 1150px;
  margin: 0 auto;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses__title {
  align-self: flex-start;
  margin-bottom: 30px;
}

.courses__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-bottom: 32px;
}

.courses__load-button {
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.courses__load-button:hover {
  cursor: pointer;
}

.courses__load-button::after {
  content: ' ';
  background-image: url(../img/arrow-down.png);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 30px;
  width: 30px;
  margin-left: 8px;
  border: 1px solid #D5D7DD;
  border-radius: 8px;
}

@media (max-width: 1023px) {
  .courses {
    padding-top: 40px;
  }

  .courses__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 32px;
  }

  .courses__title {
    align-self: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .courses {
    padding-top: 30px;
  }

  .courses__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    margin-bottom: 32px;
  }
}