.lesson {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  transition: all ease 0.2s;
}

.lesson-active {
  background-color: #fff;
}

.lesson-active .lesson__preview {
  background-color: #f6f6f7;
}

.lesson-locked .lesson__preview{
  background-image: url(../img/lock.svg);
}

.lesson-locked .lesson__title {
  margin: 0;
  font-size: 12px;
  color: #b5bac2;
}

.lesson__preview {
  /* flex: 1 1 48px; */
  min-width:48px;
  height: 48px;
  border-radius: 8px;
  margin-right: 12px;
  background-color: #fff;
  background-image: url(../img/play.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.lesson__description {
  flex-wrap: wrap;
}

.lesson__title {
  margin: 0;
  font-size: 12px;
}

.lesson__duration {
  font-size: 11px;
  color: #8f8f8f;
}

@media (max-width: 767px) {
  .lesson {
    padding: 15px 7px;
  }

  .lesson__preview {
    width: 20px;
    height: 20px;
    background-size: 10px;
    margin-right: 5px;
  }
}

@media (max-width: 424px) {

}